.layout-container {
  min-height: 100vh;
  position: relative;
  overflow: hidden;
  .background-simbol {
    position: absolute;
    z-index: -5;
    font-size: calc(25vh + 15vw);
    font-weight: 700;
    top: 33vh;
    transform: rotate(-8.4deg);
    background: linear-gradient(
      to right,
      var(--mainT-color) 20%,
      var(--mainDT-color) 40%,
      var(--mainDT-color) 60%,
      var(--mainT-color) 80%
    );
    background-size: 200% auto;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: shine 14s linear infinite;
  }
}
@keyframes shine {
  to {
    background-position: -200% center;
  }
}
