.layout-container {
  min-height: 100vh;
  position: relative;
  overflow: hidden;
  .background-simbol {
    position: absolute;
    z-index: -5;
    font-size: calc(25vh + 15vw);
    font-weight: 700;
    top: 33vh;
    transform: rotate(-8.4deg);
  }
}
@keyframes shine {
  to {
    background-position: -200% center;
  }
}
